# Import Financial Data

In [1]:
from datetime import datetime
import MetaTrader5 as mt5
import pandas as pd

In [2]:
mt5.initialize()

True

### IMPORT TICKS DATA

##### Import ticks from

In [3]:
# Import ticks from a date to 

# Compute now date
from_date = datetime.now()

# Extract n Ticks before now
mt5.copy_ticks_from("EURUSDc", from_date, 10, mt5.COPY_TICKS_ALL)

array([(1703698071, 1.11072, 1.11082, 0., 0, 1703698071007, 100, 0.),
       (1703698073, 1.11073, 1.11083, 0., 0, 1703698073269, 102, 0.),
       (1703698073, 1.11075, 1.11083, 0., 0, 1703698073308,  98, 0.),
       (1703698073, 1.11074, 1.11082, 0., 0, 1703698073463, 102, 0.),
       (1703698073, 1.11073, 1.11081, 0., 0, 1703698073670, 102, 0.),
       (1703698073, 1.11072, 1.11081, 0., 0, 1703698073701,  98, 0.),
       (1703698076, 1.11072, 1.11082, 0., 0, 1703698076571, 100, 0.),
       (1703698077, 1.11072, 1.11081, 0., 0, 1703698077417, 100, 0.),
       (1703698077, 1.11072, 1.11082, 0., 0, 1703698077862, 100, 0.),
       (1703698078, 1.11071, 1.1108 , 0., 0, 1703698078259, 102, 0.)],
      dtype=[('time', '<i8'), ('bid', '<f8'), ('ask', '<f8'), ('last', '<f8'), ('volume', '<u8'), ('time_msc', '<i8'), ('flags', '<u4'), ('volume_real', '<f8')])

In [6]:
# Compute now date


# Compute now date
from_date = datetime.now()

# Extract n Ticks before now
ticks = mt5.copy_ticks_from("EURUSDc", from_date, 10, mt5.COPY_TICKS_ALL)

# Transfrom a tuple into a dataframe
df_ticks = pd.DataFrame(ticks)

# Convert number format of the date into date format
df_ticks["time"] = pd.to_datetime(df_ticks["time"], unit="s")

df_ticks

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,2023-12-27 17:44:51,1.11083,1.11093,0.0,0,1703699091252,96,0.0
1,2023-12-27 17:44:51,1.11083,1.11092,0.0,0,1703699091557,100,0.0
2,2023-12-27 17:44:51,1.11083,1.11093,0.0,0,1703699091795,100,0.0
3,2023-12-27 17:44:51,1.11083,1.11092,0.0,0,1703699091895,100,0.0
4,2023-12-27 17:44:52,1.11081,1.11091,0.0,0,1703699092045,102,0.0
5,2023-12-27 17:44:52,1.11081,1.11091,0.0,0,1703699092095,96,0.0
6,2023-12-27 17:44:52,1.11082,1.11092,0.0,0,1703699092604,102,0.0
7,2023-12-27 17:44:52,1.11082,1.11092,0.0,0,1703699092696,96,0.0
8,2023-12-27 17:44:52,1.11082,1.11092,0.0,0,1703699092743,96,0.0
9,2023-12-27 17:44:52,1.11082,1.11092,0.0,0,1703699092801,96,0.0

##### Import ticks Range

In [7]:
# Compute now date
from_date = datetime(2022,1,5)
to_date = datetime(2022,1,6)

# Extract n Ticks before now
ticks = mt5.copy_ticks_range("EURUSDc", from_date, to_date, mt5.COPY_TICKS_ALL)

# Transfrom a tuple into a dataframe
df_ticks = pd.DataFrame(ticks)

# Convert number format of the date into date format
df_ticks["time"] = pd.to_datetime(df_ticks["time"], unit="s")

df_ticks

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,2022-01-05 00:00:00,1.12854,1.12880,0.0,0,1641340800236,134,0.0
1,2022-01-05 00:00:00,1.12850,1.12879,0.0,0,1641340800467,134,0.0
2,2022-01-05 00:00:02,1.12818,1.12898,0.0,0,1641340802125,134,0.0
3,2022-01-05 00:00:02,1.12817,1.12897,0.0,0,1641340802616,134,0.0
4,2022-01-05 00:00:06,1.12821,1.12902,0.0,0,1641340806463,134,0.0
...,...,...,...,...,...,...,...,...
47447,2022-01-05 23:59:43,1.13122,1.13137,0.0,0,1641427183890,130,0.0
47448,2022-01-05 23:59:44,1.13119,1.13134,0.0,0,1641427184153,134,0.0
47449,2022-01-05 23:59:45,1.13117,1.13131,0.0,0,1641427185894,134,0.0
47450,2022-01-05 23:59:56,1.13121,1.13156,0.0,0,1641427196286,134,0.0
47451,2022-01-05 23:59:56,1.13123,1.13156,0.0,0,1641427196493,130,0.0

### IMPORT RATES DATA

##### Import rates from

In [8]:
# Compute now date
from_date = datetime.now()

# Extract n Ticks before now
rates = mt5.copy_rates_from("EURUSDc", mt5.TIMEFRAME_H1, from_date, 15)

# Transform Tuple into a DataFrame
df_rates = pd.DataFrame(rates)

# Convert number format of the date into date format
df_rates["time"] = pd.to_datetime(df_rates["time"], unit="s")

df_rates

,time,open,high,low,close,tick_volume,spread,real_volume
0,2023-12-27 03:00:00,1.10371,1.10379,1.10325,1.10366,2008,8,0
1,2023-12-27 04:00:00,1.10366,1.10370,1.10300,1.10315,1707,8,0
2,2023-12-27 05:00:00,1.10315,1.10370,1.10289,1.10369,1354,8,0
3,2023-12-27 06:00:00,1.10369,1.10426,1.10368,1.10421,990,8,0
4,2023-12-27 07:00:00,1.10421,1.10443,1.10375,1.10439,1046,8,0
5,2023-12-27 08:00:00,1.10439,1.10457,1.10409,1.10448,1457,8,0
6,2023-12-27 09:00:00,1.10445,1.10497,1.10370,1.10418,2898,8,0
7,2023-12-27 10:00:00,1.10417,1.10549,1.10384,1.10475,4540,8,0
8,2023-12-27 11:00:00,1.10474,1.10553,1.10468,1.10548,3200,8,0
9,2023-12-27 12:00:00,1.10548,1.10598,1.10524,1.10565,2773,8,0
10,2023-12-27 13:00:00,1.10565,1.10601,1.10506,1.10595,2684,8,0
11,2023-12-27 14:00:00,1.10595,1.10704,1.10490,1.10689,3676,8,0
12,2023-12-27 15:00:00,1.10689,1.10744,1.10624,1.10709,4686,8,0
13,2023-12-27 16:00:00,1.10709,1.11059,1.10693,1.11051,6475,8,0
14,2023-12-27 17:00:00,1.11051,1.11161,1.10990,1.11077,7567,8,0

##### Import rates range

In [9]:
# Compute now date
from_date = datetime(2022,1,1)
to_date = datetime(2022,1,10)

# Extract n Ticks before now
rates = mt5.copy_rates_range("EURUSDc", mt5.TIMEFRAME_H1, from_date, to_date)

# Transform Tuple into a DataFrame
df_rates = pd.DataFrame(rates)

# Convert number format of the date into date format
df_rates["time"] = pd.to_datetime(df_rates["time"], unit="s")

df_rates

,time,open,high,low,close,tick_volume,spread,real_volume
0,2022-01-03 00:00:00,1.13710,1.13732,1.13661,1.13707,103,66,0
1,2022-01-03 01:00:00,1.13712,1.13777,1.13689,1.13724,812,10,0
2,2022-01-03 02:00:00,1.13724,1.13750,1.13603,1.13615,620,10,0
3,2022-01-03 03:00:00,1.13616,1.13646,1.13494,1.13580,832,10,0
4,2022-01-03 04:00:00,1.13582,1.13582,1.13419,1.13421,763,10,0
...,...,...,...,...,...,...,...,...
116,2022-01-07 20:00:00,1.13561,1.13616,1.13546,1.13569,895,10,0
117,2022-01-07 21:00:00,1.13566,1.13643,1.13562,1.13623,667,10,0
118,2022-01-07 22:00:00,1.13623,1.13635,1.13568,1.13608,778,10,0
119,2022-01-07 23:00:00,1.13605,1.13618,1.13578,1.13606,629,10,0
120,2022-01-10 00:00:00,1.13525,1.13580,1.13524,1.13550,186,74,0