# Import Financial Data

In [2]:
from datetime import datetime
import MetaTrader5 as mt5
import pandas as pd

In [3]:
mt5.initialize()

True

### IMPORT TICKS DATA

##### Import ticks from

In [4]:
# Import ticks from a date to 

# Compute now date
from_date = datetime.now()

# Extract n Ticks before now
mt5.copy_ticks_from("EURUSD-Z", from_date, 10, mt5.COPY_TICKS_ALL)

In [5]:
# Compute now date


# Compute now date
from_date = datetime.now()

# Extract n Ticks before now
ticks = mt5.copy_ticks_from("EURUSDc", from_date, 10, mt5.COPY_TICKS_ALL)

# Transfrom a tuple into a dataframe
df_ticks = pd.DataFrame(ticks)

# Convert number format of the date into date format
df_ticks["time"] = pd.to_datetime(df_ticks["time"], unit="s")

df_ticks

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,2023-12-27 09:21:53,1.10490,1.10499,0.0,0,1703668913074,230,0.0
1,2023-12-27 09:21:53,1.10490,1.10498,0.0,0,1703668913683,100,0.0
2,2023-12-27 09:21:53,1.10490,1.10499,0.0,0,1703668913783,100,0.0
3,2023-12-27 09:21:54,1.10489,1.10499,0.0,0,1703668914085,226,0.0
4,2023-12-27 09:21:54,1.10489,1.10499,0.0,0,1703668914483,96,0.0
5,2023-12-27 09:21:54,1.10489,1.10499,0.0,0,1703668914540,96,0.0
6,2023-12-27 09:21:55,1.10489,1.10499,0.0,0,1703668915473,96,0.0
7,2023-12-27 09:22:00,1.10488,1.10498,0.0,0,1703668920376,230,0.0
8,2023-12-27 09:22:02,1.10488,1.10498,0.0,0,1703668922875,96,0.0
9,2023-12-27 09:22:05,1.10488,1.10498,0.0,0,1703668925625,96,0.0

##### Import ticks Range

In [ ]:
# Compute now date
from_date = datetime(2022,1,5)
to_date = datetime(2022,1,6)

# Extract n Ticks before now
ticks = mt5.copy_ticks_range("EURUSDc", from_date, to_date, mt5.COPY_TICKS_ALL)

# Transfrom a tuple into a dataframe
df_ticks = pd.DataFrame(ticks)

# Convert number format of the date into date format
df_ticks["time"] = pd.to_datetime(df_ticks["time"], unit="s")

df_ticks

### IMPORT RATES DATA

##### Import rates from

In [ ]:
# Compute now date
from_date = datetime.now()

# Extract n Ticks before now
rates = mt5.copy_rates_from("EURUSDc", mt5.TIMEFRAME_H1, from_date, 15)

# Transform Tuple into a DataFrame
df_rates = pd.DataFrame(rates)

# Convert number format of the date into date format
df_rates["time"] = pd.to_datetime(df_rates["time"], unit="s")

df_rates

##### Import rates range

In [ ]:
# Compute now date
from_date = datetime(2022,1,1)
to_date = datetime(2022,1,10)

# Extract n Ticks before now
rates = mt5.copy_rates_range("EURUSDc", mt5.TIMEFRAME_H1, from_date, to_date)

# Transform Tuple into a DataFrame
df_rates = pd.DataFrame(rates)

# Convert number format of the date into date format
df_rates["time"] = pd.to_datetime(df_rates["time"], unit="s")

df_rates